[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 14.0

[submodule "fnosilveira/sale-workflow"]
	path = fnosilveira/sale-workflow
	url = git@github.com:fnosilveira/sale-workflow.git
	branch = 15.0-mig-sales_team_security
